<% if current_user.role == 'admin' %>
    <br>
    <div class="ui container">
      <table class="ui very basic collapsing celled table">
        <thead>
        <tr><th>USERS</th>
          <th>ROLE STATUS</th>
        </tr></thead>
        <tbody>
        <% @users.each do |user| %>
            <tr>
              <td>
                <h4 class="ui image header">
                  <% if user.role == 'admin' %>
                    <%=image_tag("admin_avatar.png", class: "ui mini rounded image", alt: "user")%>
                  <% else %>
                    <%=image_tag("user_avatar.png", class: "ui mini rounded image", alt: "user")%>
                  <% end %>
                  <div class="content">
                    <%= user.name %>
                    <div class="sub header"><%= user.email %>
                    </div>
                  </div>
                </h4>
              </td>
              <td>
                <% if user.role == 'admin' %>
                    <label>Change Role</label>
                    <select class="ui fluid dropdown" name="user[role]">
                      <option value="admin" selected>Admin</option>
                      <option value="user"  disabled>User</option>
                      <option value="baned" disabled>Baned</option>
                    </select>
                    <% else %>
                    <form class="ui form" action="/users/<%= user.id %>" method="post">
                      <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                      <input type="hidden" name="_method" value="put" />
                      <label>Change Role</label>
                      <select class="ui fluid dropdown" name="user[role]">
                        <option value="admin" <% if user.role == 'admin' %> selected <%end%>>Admin</option>
                        <option value="user" <% if user.role == 'user' %> selected <%end%>>User</option>
                        <option value="baned" <% if user.role == 'baned' %> selected <%end%>>Baned</option>
                      </select>
                      <button class="ui inverted primary button" type="submit">Change</button>
                    </form>
                  <% end %>
              </td>
              <td>
                <% if user.role == 'admin' %>

                <% else %>
                      <i class="ban icon"></i>
                      <%= link_to 'Destroy', user, :method => :delete, class: "ban icon", data: {:confirm => "Are you sure?"} %>
                <% end %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <br>
<% end %>
