<div class="ui container">
  <br>
  <div class="ui grid">
    <div class="six wide column">
      <div class="ui card">
        <div class="image">
          <%=image_tag("user.png", class: "image", alt: "user")%>
        </div>
        <div class="content">
          <a class="header">
            <%= @user.name %>
          </a>
          <div class="meta">
            <span class="date"><%= @user.created_at %></span>
          </div>
          <div class="description">
            <%= @user.email %>
          </div>
        </div>
        <div class="extra content">
          <a>
            <i class="user icon"></i>
            <%= @posts.length  %>
          </a>
        </div>
      </div>
    </div>
    <div class="ten wide column">

      <form class="ui form" action="/users/<%= @user.id %>" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
        <input type="hidden" name="_method" value="put" />
        <div class="field">
          <label>Old Name</label>
          <input type="text" name="first-name" placeholder=<%= @user.name %>
              </div>
          <div class="field">
            <label>New Name</label>
            <input type="text" name="user[name]" placeholder="New Name">
          </div>
          <button class="ui button" type="submit">Submit</button>
        </div>
      </form>

      <form class="ui form" action="/users/<%= @user.id %>" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
        <input type="hidden" name="_method" value="put" />
        <div class="field">
          <label>Old Password</label>
          <input type="password" name="user[password_old]" placeholder='old password'>
        </div>
          <div class="field">
            <label>New Password</label>
            <input type="password" name="user[password_new]" placeholder="New Name">
          </div>
          <button class="ui button" type="submit">Change Password</button>
      </form>

    </div>
  </div>
  <br>
</div>