<div class="ui container" style="min-height: 300px">
  <br>
  <div class="container" style="display: flex">
    <a href="posts/new">
      <button class="massive ui button blue" style="height: 75px">
        Greate Post
      </button>
    </a>
    <%= form_tag(posts_path, :method => "get", id: "search-form", class: "ui form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
        <%= submit_tag "Search", class: "ui button primary" %>
    <% end %>
  </div>


  <table class="ui fixed table" >
    <thead>
    <tr><th>Title</th>
      <th>Description</th>
      <th>Navigation</th>
      <th>Status</th>
    </tr></thead>
    <tbody>
    <% @self_posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><p style="font-size: 8px;max-height: 50px; text-overflow: ellipsis"><%= post.body %></p></td>
      <td style="font-size: 5px">
        <a href="posts/<%= post.id %>">
          <button class="ui button green">show</button>
        </a>
        <a href="posts/<%= post.id %>/edit">
          <button class="ui button blue"><i class="edit outline icon"></i>edit</button>
        </a>
        <%= link_to 'Destroy', post, :method => :delete, class: "ui button red", data: {:confirm => "Are you sure?"} %>
      </td>
      <td>
        <form action="/posts/<%= post.id %>" method="post" class="ui form segment center" style="display: flex">
          <input type="hidden" name="_method" value="put" />
          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
          <select class="ui dropdown" name="post[status]">
            <option value="private" <% if post.status == 'private' %> selected <%end%>>private</option>
            <option value="public" <% if post.status == 'public' %> selected <%end%>>public</option>
          </select>
          <button class="ui button blue" type="submit">Change</button>
        </form>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>
  <br>
</div>