<div class="ui container">
  <div id="modal_show_video" class="ui modal large">
    <i class="close icon"></i>
    <div class="content">
      <div class="description">
        <div class="column">

          <div class="content" style="color: #ff513e; text-transform: uppercase;">
              <iframe height="640" width="100%" src="https://www.youtube.com/embed/<%= @post.video %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>

        </div>
      </div>
    </div>
  </div>
  <br>
  <div>
    <h3 style="text-align: center"><%= @post.title %></h3>
    <div class="ui segment" style="min-height: 300px">
      <p><%= @post.body %></p>
    </div>
    <div class="ui grid">
      <div class="row" style="display: flex;justify-content: space-between">
        <div class="six wide column">
          <% @post.tags.each do |tag| %>
              <%= link_to tag, "#{@post.id}/#{tag}", class: "ui tag label", method: :post %>
          <% end %>
          <a class="ui red tag label"><%= @post.user.name %></a>
        </div>
        <div class="ten wide column" style="display: flex;align-items: center;justify-content: flex-end">
          <%= @post.created_at %>
          <div class="ui labeled button" tabindex="0">
            <% if @post.video %>
              <button class="ui basic button show_video">
                <i class="youtube icon"></i>
                Show Video
              </button>
            <% end %>
            <div class="ui basic blue button">
              <i class="eye icon"></i> Watch
            </div>
            <a class="ui basic left pointing blue label">
              <%= @post.show %>
            </a>
          </div>
        </div>
      </div>
    </div>
    <% if current_user %>
      <% if current_user.role == 'admin' %>
          <a href="<%= @post.id %>/edit">
            <button class="ui button green"><i class="edit outline icon"></i>edit</button>
          </a>
          <%= link_to 'Destroy', @post, :method => :delete, class: "ui button red", data: {:confirm => "Are you sure?"} %>
      <% end %>
    <% end %>
  </div>
  <br>
  <div>
    <% @comments.each do |comment| %>
        <div class="ui right aligned segment">
          <% if comment.ancestry %>
              <% ancestry_comment comment.ancestry %>

              <div class="ui segment" style="font-size: 10px;border: 1px solid #ff8666; background-image: linear-gradient(to right, #ff9d50 , #ff7820);">
                <span><%= @ancestry.user_name %></span>
                <p><%= @ancestry.body %></p>
              </div>

              <% else %>
              <p></p>
          <% end %>
          <h5><%= comment.user_name %></h5>
          <p><%= comment.body %></p>
          <form action="/comments/<%= @post.id %>/<%= comment.id %>" method="post" class="ui form" style="display: flex; flex-direction: column">

            <div class="three column row">
              <% if !current_user %>
                  <div class="field">
                    <label>Name</label>
                    <input type="text" name="comment[user_name]" placeholder="Name">
                  </div>
              <% end %>
              <div class="field">
                <label>Message</label>
                <textarea type="text" name="comment[body]" placeholder="Text message" cols="50" rows="3"></textarea>
              </div>
            </div>
            <br>
            <button class="ui button blue" type="submit" style="display: flex; align-self: flex-end">Write Quote</button>
          </form>
        </div>
    <% end %>
  </div>
  <div class="ui container">
    <form action="/comments/<%= @post.id %>" method="post" class="ui form" style="display: flex; flex-direction: column">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="three column row">
        <% if !current_user %>
        <div class="field">
          <label>Name</label>
          <input type="text" name="comment[user_name]" placeholder="Name">
        </div>
        <% end %>
        <div class="field">
          <label>Message</label>
          <textarea type="text" name="comment[body]" placeholder="Text message" cols="50" rows="10"></textarea>
        </div>
      </div>
      <br>
      <button class="ui button blue" type="submit" style="display: flex; align-self: flex-end">Write Comment</button>
    </form>
    <br>
  </div>
  <div class="digg_pagination">
    <div class="page_numbers">
      <%= will_paginate @comments, :container => false %>
    </div>
    <div class="page_info">
      <%= page_entries_info @comments %>
    </div>
  </div>
</div>

<script>
    $('.show_video').click(function(){
        console.log('modal');
        $('#modal_show_video').modal('show');
    });
</script>